body{
    margin: 0%;
}
.padre{
    margin: 0%;
    border:solid 2px blue;
    width: 100vh;
    height: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
}
.hijo{
    border: solid 2px red;
    height: 20%;
    width: 8%;
}
.hija{
    border: solid 2px purple;
    height: 20%;
    width: 15%;
}