body{
    display: flex;
}



.player1{
    border: solid 2px blue; 
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.player2{
    border: solid 2px blue; 
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}

.imagen{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: flex-start;
    border-radius: 0;
   
}